<form action="/cadastro" method="post">
<div class="mb-3">
    <label for="nome" class="form-label">nome</label>
    <input type="text" class="form-control" name="nome" id="nome" placeholder="Digite seu nome">
  </div>
  <div class="mb-3">
    <label for="data de nascimento" class="form-label">data de nascimento</label>
    <input type="text" class="form-control" name="data_nascimento" id="data_nascimento" placeholder="Digite  a data de nascimento" >
  </div>
  <div class="mb-3">
    <label for="telefone" class="form-label">telefone</label>
    <input type="text" class="form-control" name="telefone" id="telefone" placeholder="Digite  telefone do contato" >
  </div>
  <div class="mb-3">
    <label for="cep" class="form-label">cep</label>
    <input type="text" class="form-control" name="cep" id="cep" placeholder="Digite cep do contato" >
  </div>
  <div class="d-grid gap-2">
  <button class="btn btn-primary" type="submit">Salvar contato</button>
</div>
</form>    